<<<<<<< HEAD
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
=======
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
>>>>>>> bogdan
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
<<<<<<< HEAD
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
=======
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
>>>>>>> bogdan
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

<<<<<<< HEAD
blockquote:before, blockquote:after {
  content: '';
  content: none; }

=======
blockquote:before, blockquote:after,
>>>>>>> bogdan
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

<<<<<<< HEAD
html, body {
  padding: 0;
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto; }

=======
>>>>>>> bogdan
.container {
  width: 90%;
  margin: 0 auto; }

<<<<<<< HEAD
.youget {
  text-align: center;
  background-color: #f4f4f4;
  padding-bottom: 100px; }
  .youget__editor {
    background-image: url("images/editor.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 365px; }

.section-title {
  font-family: 'Montserrat', sans-serif;
  color: #8d81ac;
  font-size: 31px;
  font-weight: 700;
  padding: 29px 40px 0px 33px;
  width: 104%; }
  .section-title::before {
    content: "<"; }
  .section-title::after {
    content: ">"; }

.offer {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  font-family: 'Lato', sans-serif; }
  .offer__firstimg {
    padding-left: 15px; }
  .offer__img {
    margin: 0 auto;
    display: block; }

.text {
  display: flex;
  flex-direction: column; }
  .text__title {
    font-family: "Montserrat",sans-serif;
    color: #323232;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding-top: 29px; }
  .text__discription {
    font-family: "Lato",sans-serif;
    color: #848e97;
    font-size: 15px;
    width: 100%;
    line-height: 16px;
    margin: 0 auto;
    padding-top: 21px; }

.persons {
  text-align: center;
  position: relative; }

.slider {
  font-family: "Montserrat",sans-serif;
  margin-top: 70px;
  position: relative;
  display: flex; }

.slide {
  position: relative;
  flex-direction: column;
  width: 100%;
  display: none;
  margin: 0 auto; }
  .slide__person {
    display: flex;
    flex-direction: column; }
  .slide__img {
    display: block;
    padding-bottom: 25px;
    margin: 0 auto; }
  .slide__name {
    color: #474747;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 7px;
    text-align: center; }
  .slide__nickname {
    display: block;
    color: #8d81ac;
    font-size: 16px;
    padding-top: 7px; }
  .slide__discription {
    width: 204px;
    flex-direction: column;
    display: flex;
    margin: 0 auto; }
  .slide__text {
    font-family: "Lato",sans-serif;
    font-size: 17px;
    color: #333333;
    transform: scaleX(1.0059); }
    .slide__text span {
      color: #8d81ac;
      font-size: 16px; }
  .slide__time {
    color: #848e97;
    font-size: 16px;
    transform: scaleX(1.0059);
    padding-top: 16px; }

.active {
  display: flex; }

#btn-next {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 30px; }
  #btn-next:hover {
    cursor: pointer; }

#btn-prev {
  position: absolute;
  left: 2%;
  top: 50%;
  font-size: 30px; }
  #btn-prev:hover {
    cursor: pointer; }

.buttons {
  margin-top: 35px; }

.button {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .button__followers {
    margin-top: 18px;
    margin-bottom: 30px;
    font-family: "Montserrat",sans-serif;
    color: #848e97;
    font-size: 14px;
    text-align: center; }

.btn {
  border-radius: 4px;
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center; }
  .btn--github {
    background-color: #525757; }
  .btn--facebook {
    background-color: #3b5998; }
  .btn--twitter {
    background-color: #26a6d1; }
  .btn .img {
    font-size: 20px;
    margin-left: 20px;
    color: #fff; }
  .btn--text {
    font-family: "Montserrat",sans-serif;
    color: #000000;
    font-size: 21px;
    margin-left: 70px; }

.subscribe {
  font-family: "Montserrat",sans-serif;
  background-color: #f4f4f4;
  padding-bottom: 20px; }

.touch {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .touch__title {
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px; }
  .touch__input {
    border-radius: 50px;
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
    width: 260px;
    height: 43px;
    font-size: 17px;
    padding-left: 26px;
    outline: none; }
  .touch__btn {
    display: block;
    border-radius: 21px;
    background-color: #8d81ac;
    width: 140px;
    height: 42px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400; }

.content {
  display: grid;
  grid-template-rows: repeat(3, 145px) repeat(2, 110px); }

.forkio__title {
  font-family: "Montserrat",sans-serif;
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 25px;
  text-transform: uppercase; }

.forkio__text {
  font-family: "Montserrat",sans-serif;
  color: #848e97;
  font-size: 14px;
  font-weight: 400; }

.navigation {
  font-family: "Montserrat",sans-serif; }
  .navigation__title {
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-top: 20px; }
  .navigation__menu {
    width: 122px; }
  .navigation__item {
    font-size: 15px;
    padding-bottom: 5px; }
  .navigation__link {
    color: #8d81ac; }

.number {
  padding-top: 37px;
  font-family: "Montserrat",sans-serif; }
  .number__phone {
    font-weight: bold;
    color: #31384d;
    font-size: 30px;
    padding-bottom: 10px; }
  .number__available {
    color: #848e97;
    font-size: 12px;
    text-transform: uppercase; }

.city {
  font-family: "Montserrat",sans-serif; }
  .city__contact {
    color: #323232;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px; }
  .city__coordinats {
    color: #848e97;
    font-size: 14px; }

.info {
  font-family: "Montserrat",sans-serif; }
  .info__title {
    color: #323232;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px; }
  .info__text {
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    width: 90%; }

@media (min-width: 401px) and (max-width: 480px) {
  .offer {
    padding-top: 15px;
    flex-direction: row; }
    .offer__img {
      margin: auto;
      display: block; }
  .text {
    flex-direction: column;
    width: 60%; }
    .text__title {
      font-size: 15px;
      text-align: left; }
    .text__discription {
      text-align: left;
      font-size: 15px; }
  .slide__person {
    flex-direction: unset;
    padding-bottom: 20px; }
  .slide__img {
    padding-bottom: 0;
    padding-left: 10%;
    margin: auto; }
  .slide__name {
    margin-right: 15%;
    padding-top: 20px; }
  .slide__nickname {
    display: block;
    text-align: left; }
  .slide__discription {
    width: 326px; }
  .slide__text {
    font-size: 17px;
    color: #333333;
    transform: scaleX(1.0059); }
  .slide__time {
    padding-top: 22px; }
  #btn-next {
    right: 3%; }
    #btn-next:hover {
      cursor: pointer; }
  #btn-prev {
    left: 3%; }
    #btn-prev:hover {
      cursor: pointer; } }

@media (min-width: 481px) and (max-width: 991px) {
  .section-title {
    font-size: 42px; }
  .offer {
    padding-top: 15px;
    flex-direction: row;
    justify-content: flex-start; }
    .offer__img {
      margin: auto;
      display: block; }
  .text {
    width: 70%;
    height: 120px; }
    .text__title {
      font-size: 15px;
      text-align: left;
      width: 70%; }
    .text__discription {
      text-align: left;
      font-size: 15px;
      width: 100%; }
  .slide {
    position: relative;
    flex-direction: column;
    display: none;
    margin: 0 auto;
    width: 70%; }
    .slide__person {
      flex-direction: row;
      align-self: center; }
    .slide__img {
      display: block;
      padding-bottom: 25px;
      margin: 0; }
    .slide__name {
      color: #474747;
      font-size: 24px;
      font-weight: 700;
      padding-top: 15px;
      padding-left: 8%; }
    .slide__nickname {
      display: block;
      color: #8d81ac;
      font-size: 16px;
      padding-top: 7px; }
    .slide__discription {
      width: 100%;
      flex-direction: column;
      display: flex;
      margin: 0 auto; }
    .slide__text {
      font-family: "Lato",sans-serif;
      font-size: 17px;
      color: #333333;
      transform: scaleX(1.0059); }
      .slide__text span {
        color: #8d81ac;
        font-size: 16px; }
    .slide__time {
      color: #848e97;
      font-size: 16px;
      transform: scaleX(1.0059);
      padding-top: 16px; }
  .active {
    display: flex; }
  #btn-next {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 30px; }
    #btn-next:hover {
      cursor: pointer; }
  #btn-prev {
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 30px; }
    #btn-prev:hover {
      cursor: pointer; } }
=======
.btn {
  font-family: Montserrat, sans-serif;
  background-color: #8d81ac;
  color: white;
  font-weight: 700;
  border-radius: 35px; }

.header {
  background-image: url("images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 424px;
  position: relative; }
  .header__bg-color {
    background-color: #262626;
    padding: 31px 0; }
  .header--position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
  .header__logo {
    background-image: url("images/header-logo.png");
    display: flex;
    align-items: center;
    width: 43px;
    height: 41px; }
    .header__logo span {
      font-family: Lato, sans-serif;
      text-transform: uppercase;
      color: #8d81ac;
      font-size: 24px;
      font-weight: 700;
      margin-left: 56px;
      display: none; }
  .header__btn {
    font-size: 15px;
    padding: 15px 27px;
    line-height: 15px; }
  .header__nav {
    background-image: url("images/sandwich-icon.png");
    width: 26px;
    height: 21px; }
  .header__navbar {
    display: flex;
    flex-direction: column; }
  .header__item {
    font-family: Montserrat, sans-serif; }
  .header__main-title {
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-top: 43px; }
  .header h1 {
    color: white;
    font-size: 48px;
    font-weight: 700; }
  .header__slogan {
    color: #8d81ac;
    font-size: 18px;
    line-height: 30px;
    width: 90%;
    margin: 20px auto; }
  .header__version {
    font-size: 15px;
    text-transform: uppercase;
    color: #848e97; }
  .header__trial {
    position: absolute;
    bottom: -50px;
    text-align: center;
    width: 90%; }
  .header__btn-download {
    padding: 4% 9%;
    font-size: 18px; }
  .header__text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #848e97;
    margin-top: 29px; }

.revolutionary {
  padding-top: 121px;
  padding-bottom: 88px;
  text-align: center; }
  .revolutionary__title {
    font-family: Montserrat, sans-serif;
    color: #635c73;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px;
    margin-bottom: 15px; }
  .revolutionary__text {
    font-family: Lato, sans-serif;
    color: #323232;
    font-size: 14px;
    line-height: 18px; }
  .revolutionary__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold; }
    .revolutionary__actions li {
      margin: 0 10px 0 0;
      margin-top: 20px;
      font-size: 0; }
  .revolutionary__btn {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    color: #24292e;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: .25em;
    padding: 3px 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 15px; }
    .revolutionary__btn i {
      margin-right: 3px; }
    .revolutionary__btn--modify {
      vertical-align: text-top; }
  .revolutionary__count {
    border: 1px solid rgba(27, 31, 35, 0.2);
    padding: 3px 5px;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 15px;
    color: #24292e; }

.about {
  background-image: url("images/about-base-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14px;
  padding-bottom: 93px; }
  .about__bg {
    background-image: url("images/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 47px; }
  .about__title {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 700;
    line-height: 48px; }
  .about__reviews {
    margin-top: 49px; }
  .about__review {
    margin-bottom: 45px; }
    .about__review p {
      font-family: Lato, sans-serif;
      color: white;
      font-size: 15px;
      font-weight: 700;
      font-style: italic;
      line-height: 24px;
      word-break: break-all; }
    .about__review:nth-child(1) p {
      padding-top: 37px;
      width: 84%;
      margin: 0 auto; }
    .about__review:nth-child(2) p {
      padding-top: 33px;
      width: 83.5%;
      margin: 0 auto; }
    .about__review:nth-child(3) p {
      padding-top: 26px;
      width: 84.6%;
      margin: 0 auto; }
    .about__review:nth-child(4) p {
      padding-top: 37px;
      width: 84%;
      margin: 0 auto; }
    .about__review:nth-child(5) p {
      padding-top: 32px;
      width: 79.3%;
      margin: 0 auto; }
    .about__review:nth-child(6) p {
      padding-top: 32px;
      width: 80%;
      margin: 0 auto; }
  .about span {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 5px; }
  .about::after {
    content: '';
    display: block;
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: #848e97; }

.pricing {
  background-image: url("images/pricing-bg.png"), url("images/about-base-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .pricing__title {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 43px; }
  .pricing__options {
    padding-top: 53px; }
  .pricing__block {
    font-family: Montserrat, sans-serif;
    color: white;
    width: 257px;
    margin: 0 auto;
    margin-bottom: 14px; }
    .pricing__block:last-child {
      margin-bottom: 0;
      padding-bottom: 93px; }
  .pricing__header {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.06);
    padding-top: 46px;
    padding-bottom: 34px;
    text-transform: uppercase; }
  .pricing__content {
    background-color: rgba(255, 255, 255, 0.11);
    padding-top: 32px;
    padding-bottom: 53px; }
    .pricing__content p:nth-child(1) {
      font-size: 60px;
      font-weight: 700; }
      .pricing__content p:nth-child(1)::before {
        content: '\0024';
        font-weight: 400; }
    .pricing__content p:nth-child(2) {
      font-size: 14px;
      opacity: 0.2;
      text-transform: uppercase;
      margin-top: 24px;
      margin-bottom: 39px; }
    .pricing__content p:nth-child(3) {
      font-size: 16px;
      opacity: 0.9;
      width: 210px;
      margin: 0 auto;
      margin-bottom: 84px;
      line-height: 30px; }
      .pricing__content p:nth-child(3)::before {
        content: '';
        display: block;
        height: 5px;
        width: 60px;
        margin: 0 auto;
        background-color: #848e97;
        margin-bottom: 39px; }
  .pricing__btn {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 15px 38px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.9; }
  .pricing .active {
    width: 290px;
    margin: 0 auto;
    margin-bottom: 14px; }
    .pricing .active__header {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 50px 95px; }
    .pricing .active__content {
      background-color: rgba(0, 0, 0, 0.1);
      padding-top: 15px; }
      .pricing .active__content p:nth-child(1) {
        font-size: 82px;
        font-weight: 700; }
      .pricing .active__content p:nth-child(2) {
        margin-top: 21px;
        margin-bottom: 49px; }
    .pricing .active__btn {
      padding: 20px 50px; }

@media (min-width: 401px) and (max-width: 480px) {
  .header {
    padding-bottom: 454px;
    background-image: url("images/header-bg-480.png"); }
    .header__logo span {
      display: block; }
    .header__btn {
      margin-left: 93px; }
    .header__main-title {
      margin-top: 101px; }
    .header h1 {
      font-size: 54px; }
    .header__slogan {
      font-size: 20px;
      margin: 35px auto 23px auto; }
    .header__version {
      font-size: 17px; }
    .header__trial {
      bottom: -65px; }
    .header__btn-download {
      padding: 4% 13%;
      font-size: 21px; }
    .header__text {
      margin-top: 42px; }
  .revolutionary__title {
    font-size: 44px;
    line-height: 52px; }
  .revolutionary__text {
    font-size: 16px;
    line-height: 25px; }
  .about__title {
    font-size: 42px;
    line-height: 58px; }
  .pricing {
    background-position: bottom; }
    .pricing__title {
      font-size: 42px;
      line-height: 58px; } }

@media (min-width: 481px) and (max-width: 991px) {
  .header {
    background-image: url("images/header-bg-768.png"); }
    .header__bg-color {
      padding: 22px 0; }
    .header span {
      display: block; }
    .header__nav {
      display: none; }
    .header__navbar {
      flex-direction: row;
      justify-content: center;
      margin-top: 22px; }
    .header__item {
      font-size: 16px;
      color: #8d81ac;
      font-weight: bold;
      margin-right: 48px; }
      .header__item::nth-child(1) a {
        display: none; } }

@media (max-width: 480px) {
  .header__content {
    position: absolute;
    top: 105px;
    background-color: #333333;
    width: 100%;
    display: block; }
  .header__item {
    font-size: 24px;
    padding: 6%;
    border-top: 2px solid #3b3b3b;
    color: white; } }
>>>>>>> bogdan
