<<<<<<< HEAD
@media (min-width : 401px) and (max-width:480px) {
    .offer{
        padding-top: 15px;
        flex-direction: row;
        &__img{
            margin: auto;
            display: block;
        }
    }
    .text{
        flex-direction: column;
        width: 60%;
        &__title{
            font-size: 15px;
            text-align: left;
        }
        &__discription{
            text-align: left;
            font-size: 15px;
        }
    }
   
    .slide{
        
        &__person{
            flex-direction: unset;
            padding-bottom: 20px;
        }
    
        &__img{
            padding-bottom: 0;
            padding-left: 10%;
            margin: auto;
        }
        &__name{
            margin-right: 15%;
            padding-top: 20px;
        }
        &__nickname{
            
            display: block;
            text-align: left;
    
        }
        &__discription{
            width: 326px;
        }
        &__text{
            font-size: 17px;
            color: #333333;
            transform: scaleX(1.0059);
        }
        &__time{
            padding-top: 22px;
        }
    }
    #btn-next{
        right: 3%;
        &:hover{
            cursor: pointer;
        }
    }
    #btn-prev{
        left: 3%;
        &:hover{
            cursor: pointer;
        }
    }
    

    // .subscribe{
    //     margin-top: 35px;
    // }
    // .buttons{
    //    display: flex;
    //    flex-direction: column;
    // }
    // .button{
    //     display: flex;
    //     align-items: center;
    //     flex-direction: column;
    //     &__followers{
    //         margin-top: 18px;
    //         margin-bottom: 30px;
    //         font-family: "Montserrat",sans-serif;
    //         color:  #848e97;
    //         font-size: 14px;
    //         text-align: center;
    //     }
    // }
    // .btn{
    //     border-radius: 4px;
    //     width: 280px;
    //     height: 50px;
    //     display: flex;
    //     align-items: center;
        
    
    //     &--github{
    //         background-color:  #525757;
    //     }
    //     &--facebook{
    //         background-color:  #3b5998;
    //     }
    //     &--twitter{
    //         background-color:  #26a6d1;
    //     }
    
    //     .img{
    //         font-size: 20px;
    //         margin-left: 20px;
    //         color: #fff;
    //     }
    //     &--text{
    //         font-family: "Montserrat",sans-serif;
    //         color:  #000000;
    //         font-size: 21px;
    //         margin-left: 70px;
    //     }
    // }
=======
@media (min-width: 401px) and (max-width: 480px) {
	.header {
		padding-bottom: 454px;
		background-image: url('images/header-bg-480.png');


		&__logo {

			& span {
				display: block;
			}
		}

		&__btn {
		margin-left: 93px;
	}

	&__main-title {
		margin-top: 101px;
	}

	& h1 {
		font-size: 54px;
	}

	&__slogan {
		font-size: 20px;
		margin: 35px auto 23px auto;
	}

	&__version {
		font-size: 17px;
		
	}

	&__trial {
		bottom: -65px;
	}

	&__btn-download {
		padding: 4% 13%;
		font-size: 21px;
	}

	&__text {
		margin-top: 42px;
	}

}

.revolutionary {

	&__title {
		font-size: 44px;
		line-height: 52px;
	}

	&__text {
		font-size: 16px;
		line-height: 25px;
	}
}


.about {

	&__title {
		font-size: 42px;
		line-height: 58px;
	}
}

.pricing {
	background-position: bottom;

	&__title {
		font-size: 42px;
		line-height: 58px;
	}
}
>>>>>>> bogdan
}