<<<<<<< HEAD
@media (min-width : 481px) and (max-width:991px){
    .section-title{
        font-size: 42px;
    }
    .offer{
        padding-top: 15px;
        flex-direction: row;
        justify-content: flex-start;
        &__img{
            margin: auto;
            display: block;
        }
    }
    .text{
        width: 70%;
        height: 120px;
        &__title{
            font-size: 15px;
            text-align: left;
            width: 70%;
        }
        &__discription{
            text-align: left;
            font-size: 15px;
            width: 100%;
        }
    }

    .slide{
        position: relative;
        flex-direction: column;
        display: none;
        margin: 0 auto;
        width: 70%;
        
        &__person{
            flex-direction: row;
            align-self: center;
        }
    
        &__img{
            display: block;
            padding-bottom: 25px;
            margin: 0;
        }
        &__name{
            color:#474747;
            font-size: 24px;
            font-weight: 700;
            padding-top: 15px;
            padding-left: 8%;
        }
        &__nickname{
            display: block;
            color:#8d81ac;
            font-size: 16px;
            padding-top: 7px;
    
        }
        &__discription{
            width: 100%;
            flex-direction: column;
            display: flex;
            margin: 0 auto;
        }
        &__text{
            font-family: "Lato",sans-serif;
            font-size: 17px;
            color: #333333;
            transform: scaleX(1.0059);
            span{
                color:#8d81ac;
                font-size: 16px;
            }
        }
        &__time{
            color:#848e97;
            font-size: 16px;
            transform: scaleX(1.0059);
            padding-top: 16px;
        }
    }
    .active{
        display: flex;
    }
    #btn-next{
        position: absolute;
        top: 50%;
        right: 5%;
        font-size: 30px;
        &:hover{
            cursor: pointer;
        }
    }
    #btn-prev{
        position: absolute;
        left: 5%;
        top: 50%;
        font-size: 30px;
        &:hover{
            cursor: pointer;
        }
    }
=======
@media (min-width : 481px) and (max-width: 991px) {
	.header {
		background-image: url('images/header-bg-768.png');
		
		&__bg-color {
			padding: 22px 0;
		}

		& span {
			display: block;
		}

		&__nav {
			display: none;
		}

		&__navbar {
			flex-direction: row;
			justify-content: center;
			margin-top: 22px;
		}

		&__item {
			font-size: 16px;
			color: $color-purple;
			font-weight: bold;
			margin-right: 48px;

			&::nth-child(1) a {
				display: none;
			}
		}
	}
>>>>>>> bogdan
}