@media (max-width: 480px) {
	
.header {

	&__content {
		position: absolute;
		top: 105px;
		background-color: #333333;
		width: 100%;
		display: block;
	}

	&__item {
		font-size: 24px;
		padding: 6%;
		border-top: 2px solid #3b3b3b;
		color: $color-white;
	}

}
}