<<<<<<< HEAD
@import '_reset.scss';
a{
    text-decoration: none;
}
html, body{
    padding: 0;
    min-height: 100%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.youget{
    text-align: center;
    background-color: #f4f4f4;
    padding-bottom: 100px;

    &__editor{
        background-image: url("images/editor.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 365px;
    }
}
.section-title{
    font-family: 'Montserrat', sans-serif;
    color:#8d81ac;
    font-size: 31px;
    font-weight: 700;
    padding: 29px 40px 0px 33px;
    width: 104%;
    
    &::before{
        content: "<";
    }

    &::after{
        content: ">";
    }
}
.offer{
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    font-family: 'Lato', sans-serif;

    &__firstimg{
        padding-left: 15px;
    }
    &__img{
        margin: 0 auto;
        display: block;
    }
}
.text{
    display: flex;
    flex-direction: column;

    &__title{
        font-family: "Montserrat",sans-serif;
        color:#323232;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        padding-top: 29px;
    }
    &__discription{
        font-family: "Lato",sans-serif;
        color:#848e97;
        font-size: 15px;
        width: 100%;
        line-height: 16px;
        margin: 0 auto;
        padding-top: 21px;
    }
}
.persons{
    text-align: center;
    position: relative;
}
.slider{
    font-family: "Montserrat",sans-serif;
    margin-top: 70px;
    position: relative;
    display: flex;
    // flex-direction: column;
}
.slide{
    position: relative;
    // display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
    margin: 0 auto;
    
    &__person{

        display: flex;
        flex-direction: column;
    }

    &__img{
        display: block;
        padding-bottom: 25px;
        margin: 0 auto;
    }
    &__name{
        color:#474747;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 7px;
        text-align: center;
    }
    &__nickname{
        display: block;
        color:#8d81ac;
        font-size: 16px;
        padding-top: 7px;

    }
    &__discription{
        width: 204px;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
    }
    &__text{
        font-family: "Lato",sans-serif;
        font-size: 17px;
        color: #333333;
        transform: scaleX(1.0059);
        span{
            color:#8d81ac;
            font-size: 16px;
        }
    }
    &__time{
        color:#848e97;
        font-size: 16px;
        transform: scaleX(1.0059);
        padding-top: 16px;
    }
}
.active{
    display: flex;
}

#btn-next{
    position: absolute;
    top: 50%;
    right: 2%;
    font-size: 30px;
    &:hover{
        cursor: pointer;
    }
}
#btn-prev{
    position: absolute;
    left: 2%;
    top: 50%;
    font-size: 30px;
    &:hover{
        cursor: pointer;
    }
}
.buttons{
    margin-top: 35px;

}
// .buttons{
//    display: flex;
//    flex-direction: column;
// }
.button{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__followers{
        margin-top: 18px;
        margin-bottom: 30px;
        font-family: "Montserrat",sans-serif;
        color:  #848e97;
        font-size: 14px;
        text-align: center;
    }
}
.btn{
    border-radius: 4px;
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    

    &--github{
        background-color:  #525757;
    }
    &--facebook{
        background-color:  #3b5998;
    }
    &--twitter{
        background-color:  #26a6d1;
    }

    .img{
        font-size: 20px;
        margin-left: 20px;
        color: #fff;
    }
    &--text{
        font-family: "Montserrat",sans-serif;
        color:  #000000;
        font-size: 21px;
        margin-left: 70px;
    }
}
.subscribe{
    font-family: "Montserrat",sans-serif;
    background-color: rgb(244, 244, 244);
    padding-bottom: 20px;
}
.touch{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title{
        color:
        #323232;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    &__input{
        border-radius: 50px;
        background-color: #fff;
        border:none;
        margin-bottom: 20px;
        width: 260px;
        height: 43px;
        font-size: 17px;
        padding-left: 26px;
        outline: none;
    }
    &__btn{
        display: block;
        border-radius: 21px;
        background-color:#8d81ac;
        width: 140px;
        height: 42px;
        text-align: center;
        padding-top: 15px;
        color:#ffffff;
        font-size: 13px;
        font-weight: 400;
    }
}

.content{
    display: grid;
    grid-template-rows: repeat(3,145px) repeat(2,110px);
}
.forkio{
    &__title{
        font-family:"Montserrat",sans-serif;
        color:#333333;
        font-size: 24px;
        font-weight: 400;
        margin-top: 40px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &__text{
        font-family:"Montserrat",sans-serif;
        color:#848e97;
        font-size: 14px;
        font-weight: 400;
    }
}
.navigation{
    font-family:"Montserrat",sans-serif;

    &__title{
        color:#323232;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        padding-top: 20px;
    }
    &__menu{
        width:122px;
    }
    &__item{
        font-size: 15px;
        padding-bottom: 5px;
    }
    &__link{
        color:#8d81ac;
    }
}
.number{
    padding-top:37px;
    font-family: "Montserrat",sans-serif;

    &__phone{
        font-weight: bold;
        color:#31384d;
        font-size: 30px;
        padding-bottom: 10px;
    }
    &__available{
        color:#848e97;
        font-size: 12px;
        text-transform: uppercase;
    }
}
.city{
    font-family: "Montserrat",sans-serif;
    &__contact{
        color:#323232;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 15px;
    }
    &__coordinats{
        color:#848e97;
        font-size: 14px;
    }
}
.info{
    font-family: "Montserrat",sans-serif;
    &__title{
        color:#323232;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    &__text{
        color:#848e97;
        font-size: 14px;
        font-weight: 400;
        width: 90%;
    }

}

@import '_480.scss';
@import '_768.scss';
=======
@import '_reset.scss';

a {
	text-decoration: none;
}

$color-purple: rgb(141, 129, 172);
$color-white: rgb(255, 255, 255);
$color-dull-green: rgb(132, 142, 151);


.container {
	width: 90%;
	margin: 0 auto;
}

.btn {
	font-family: Montserrat, sans-serif;
	background-color: $color-purple;
	color: $color-white;
	font-weight: 700;
	border-radius: 35px;
}

.header {
	background-image: url('images/header-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 424px;
	position: relative;
	

	&__bg-color {
		background-color: rgb(38, 38, 38);
		padding: 31px 0;
	}

	&--position {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}

	&__logo {
		background-image: url('images/header-logo.png');
		display: flex;
		align-items: center;
		width: 43px;
		height: 41px;

		& span {
			font-family: Lato, sans-serif;
			text-transform: uppercase;
			color: $color-purple;
			font-size: 24px;
			font-weight: 700;
			margin-left: 56px;
			display: none;
		}
	}

	&__btn {
		font-size: 15px;
		padding: 15px 27px;
		line-height: 15px;
	}

	&__nav {
		background-image: url('images/sandwich-icon.png');
		width: 26px;
		height: 21px;
	}

	&__navbar {
		display: flex;
		flex-direction: column;
	}

	&__item {
		font-family: Montserrat, sans-serif;
	}


	&__main-title {
		font-family: Montserrat, sans-serif;
		text-align: center;
		margin-top: 43px;
	}

	& h1 {
		color: $color-white;
		font-size: 48px;
		font-weight: 700;
	}

	&__slogan {
		color:  $color-purple;
		font-size: 18px;
		line-height: 30px;
		width: 90%;
		margin: 20px auto;
	}

	&__version {
		font-size: 15px;
		text-transform: uppercase;
		color: $color-dull-green;
	}

	&__trial {
		position: absolute;
		bottom: -50px;
		text-align: center;
		width: 90%;
	}

	&__btn-download {
		padding: 4% 9%;
		font-size: 18px;
	}

	&__text {
		font-family: Montserrat, sans-serif;
		font-size: 14px;
		color: $color-dull-green;
		margin-top: 29px;
	}
	
}

.revolutionary {
	padding-top: 121px;
	padding-bottom: 88px;
	text-align: center;

	&__title {
		font-family: Montserrat, sans-serif;
		color:  #635c73;
		font-size: 26px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 42px;
		margin-bottom: 15px;
	}
	
	&__text {
		font-family: Lato, sans-serif;
		color:  #323232;
		font-size: 14px;
		line-height: 18px;
	}
	
	&__actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 20px;
		font-weight: bold;

		& li {
			margin: 0 10px 0 0;
			margin-top: 20px;
			font-size: 0;
		}
	}

	&__btn {
		background-color: #eff3f6;
	    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
	    color: #24292e;
	    border: 1px solid rgba(27,31,35,.2);
	    border-radius: .25em;
	    padding: 3px 7px;
	    border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	    font-size: 15px;
		
		& i {
			margin-right: 3px;
		}

		&--modify {
			vertical-align: text-top;
		}
	}

	&__count {
	    border: 1px solid rgba(27,31,35,.2);
	    padding: 3px 5px;
	    border-left: 0;
	    border-top-right-radius: 3px;
	    border-bottom-right-radius: 3px;
	    font-size: 15px;
	    color: #24292e;
	}
	
}

.about {
	background-image: url('images/about-base-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 14px;
	padding-bottom: 93px;
	
	&__bg {
		background-image: url('images/about-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 47px;
	}

	&__title {
		font-family: Montserrat, sans-serif;
		font-size: 36px;
		color: $color-white;
		font-weight: 700;
		line-height: 48px;
	}

	&__reviews {
		margin-top: 49px;
	}

	&__review {
		margin-bottom: 45px;

		& p {
			font-family: Lato, sans-serif;
			color: $color-white;
			font-size: 15px;
			font-weight: 700;
			font-style: italic;
			line-height: 24px;
			word-break: break-all;
		}

		&:nth-child(1) p {
			padding-top: 37px;
			width: 84%;
			margin: 0 auto;
		}

		&:nth-child(2) p {
			padding-top: 33px;
			width: 83.5%;
			margin: 0 auto;
		}

		&:nth-child(3) p {
			padding-top: 26px;
			width: 84.6%;
			margin: 0 auto;
		}

		&:nth-child(4) p {
			padding-top: 37px;
			width: 84%;
			margin: 0 auto;
		}

		&:nth-child(5) p {
			padding-top: 32px;
			width: 79.3%;
			margin: 0 auto;
		}

		&:nth-child(6) p {
			padding-top: 32px;
			width: 80%;
			margin: 0 auto;
		}
	}

	& span {
		font-family: Montserrat, sans-serif;
		font-size: 30px;
		color: $color-white;
		font-weight: bold;
		margin-left: 5px;
	}

	&::after {
		content: '';
		display: block;
		height: 1px;
		width: 90%;
		margin: 0 auto;
		background-color: $color-dull-green;
	}
	
}

.pricing {
	background-image: url('images/pricing-bg.png'), url('images/about-base-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	&__title {
		font-family: Montserrat, sans-serif;
		color:  $color-white;
		font-size: 28px;
		font-weight: 700;
		line-height: 43px;
	}

	&__options {
		padding-top: 53px;
	}

	&__block {
		font-family: Montserrat, sans-serif;
		color: $color-white;
		width: 257px;
		margin: 0 auto;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 93px;
		}
	}


	&__header {
		font-size: 24px;
		background-color:  rgba(255, 255, 255, 0.06);
		padding-top: 46px;
		padding-bottom: 34px;
		text-transform: uppercase;
	}

	&__content {
		background-color:  rgba(255, 255, 255, 0.11);
		padding-top: 32px;
		padding-bottom: 53px;


		& p:nth-child(1) {
			font-size: 60px;
			font-weight: 700;

			&::before {
				content: '\0024';
				font-weight: 400;
			}
		}
		
		& p:nth-child(2) {
			font-size: 14px;
			opacity: 0.2;
			text-transform: uppercase;
			margin-top: 24px;
			margin-bottom: 39px;
		}

		& p:nth-child(3) {
			font-size: 16px;
			opacity: 0.9;
			width: 210px;
			margin: 0 auto;
			margin-bottom: 84px;
			line-height: 30px;

			&::before {
				content: '';
				display: block;
				height: 5px;
				width: 60px;
				margin: 0 auto;
				background-color: $color-dull-green;
				margin-bottom: 39px;
			}
		}

	}

	&__btn {
		background-color:  rgba(255, 255, 255, 0.15);
		padding: 15px 38px;
		font-weight: 400;
		text-transform: uppercase;
		opacity: 0.9;
	}

	.active {
		width: 290px;
		margin: 0 auto;
		margin-bottom: 14px;

		&__header {
			background-color:  rgba(0, 0, 0, 0.20);
			padding: 50px 95px;
		}

		&__content {
			background-color:  rgba(0, 0, 0, 0.10);
			padding-top: 15px;

				& p:nth-child(1) {
					font-size: 82px;
					font-weight: 700;
			}

				& p:nth-child(2) {
				margin-top: 21px;
				margin-bottom: 49px;
			}
		}
		
		&__btn {
			padding: 20px 50px;
		}
	}

}

@import '_480.scss';
@import '_768.scss';
@import '_max-480.scss';
>>>>>>> bogdan
